app = "lgtm-cat-bot"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[env]
  HOST = "0.0.0.0"
  PORT = "3000"
  NODE_ENV = "production"
  LOG_LEVEL = "info"
  LGTMEOW_BASE_URL = "https://api.lgtmeow.com"

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
